.figure_edit {
  & > div {
    border: 4px solid transparent;
    transition: 1s ease;
    background: url("../../assets/imageEdit.png") center rgb(229 231 235);
    background-size: 60%;
    background-repeat: no-repeat;

    &:hover {
      border: 4px solid rgb(31 41 55);
    }

    & > img,
    & > p {
      transition: 0.4s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.drag_drop {
  padding: 40px 20px !important;
}
